@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300&display=swap');

* {
    margin: 0rem;
    padding: 0rem;
}

html {
    font-size: 100%;
}

body {
    padding: 1rem 11rem;
    font-family: 'Inter', sans-serif;
    scroll-behavior: smooth;
    background-color: white;
}

nav {
    height: 3rem;
    font-size: 1rem;
    font-weight: 700;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    position: fixed;
    top: 0;
    width: 76.8%;
}

.nav-content {
    display: flex;
    gap: 2rem;
    flex-direction: row;
}

.nav-content a, .nav-logo a {
    text-decoration: none;
    color: black;
}

.nav-content a:hover {
    color: rgb(1, 1, 216);
    font-size: 1.05rem;
}

.hero-intro {
    margin-top: 13rem;
    font-size: 3.1rem;
    /*position: relative;*/
    font-weight: 400;
    line-height: 4.8rem;
    text-align: center;
    padding: 0rem 5rem;
}

/*.hero-intro  {
    z-index: -1;
    position: absolute;
    
    height: 20rem;
    width: 19rem;
} 

.my-img {
    background-color: palegreen;
    position: absolute;
    width: 15rem;
    height: 18rem;
    z-index: -1;
    top: -2rem;
    left: 58rem;
}*/

.hero-bottom {
    display: flex;
    justify-content: space-between;
    margin-top: 5rem;
}

.coffee {
    transform: translateX(-11rem);
}

.coffee img {
    margin-left: -3.7rem;
    width: 14.5rem;
    height: 14.5rem;
    animation: rotation 12s infinite linear;
}

@keyframes rotation {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(359deg);
    }
}

.social {
    padding-top: 11.5rem;
}

.social a {
    color: black;
}

.social i {
    font-size: 1rem;
    padding-left: 1rem;
}

.social i:hover {
    color: rgb(1, 1, 216);
    font-size: 1.2rem;
}

.intro {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 15rem;
    gap: 2rem;
    font-weight: 700;
    padding: 0rem 5rem;
}

.about-me {
    font-size: 1.8rem;
}

.about-info {
    font-size: 1.5rem;
    color: rgb(63, 63, 63);
    line-height: 2.8rem;
    text-align: center;
}

.my-skills {
    margin-top: 20rem;
    text-align: center;
    padding: 0rem 20rem;
}

.my-skills p {
    font-size: 1.8rem;
    font-weight: 700;
}

.row1, .row2 {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.skill img {
    width: 6rem;
    height: 6rem;
    border-radius: 1rem;
}

.projects {
    margin-top: 18rem;
    display: flex;
    flex-direction: column;
    padding: 0rem 5rem;
    gap: 3rem;
}

.projects p {
    font-size: 1.8rem;
    font-weight: 700;
    text-align: center;
}

.p1 {
    border: 1px solid rgb(228, 228, 228);
    background-color: rgb(228, 228, 228);
    display: flex;
    flex-direction: row;
    gap: 3rem;
    padding: 1.3rem;
    border-radius: 1.3rem;
}

.p-img {
    width: 35%;
    height: 14rem;
    border-radius: 1rem;
}

.p-img img {
    width: 100%;
    height: 100%;
    border-radius: 1rem;
}

.p-img img:hover {
    transform: scale(1.1);
}

.p-info {
    font-weight: bold;
    width: 60%;
}

.p-info h4 {
    font-size: 1.3rem;
    border-bottom: 0.05rem solid black;
}

.p-info a {
    color: rgb(1, 1, 216);
}

.contact {
    display: flex;
    flex-direction: row;
    gap: 9rem;
    margin-top: 20rem;
}

.contact-head {
    font-size: 3rem;
}

.contact-body {
    font-weight: 700;
    font-size: 1.4rem;
    line-height: 2.5rem;
    color: rgb(58, 58, 58);
}

.contact-body u {
    font-size: 1rem;
}

.contact-body a {
    text-decoration: none;
    color: rgb(58, 58, 58);
}

.contact-body a:hover {
    color: rgb(1, 1, 216);
}

.follow-social a {
    color: black;
}

.follow-social i {
    font-size: 1rem;
    padding-left: 1rem;
}

.follow-social i:hover {
    color: rgb(1, 1, 216);
    font-size: 1.2rem;
}

.footer {
    margin-top: 15rem;
    border-top: 1px solid gray;
    padding-top: 2rem;
    padding-bottom: 5rem;
    text-align: right;
    font-weight: 700;
}


/*small laptop*/
@media screen 
  and (min-device-width: 1024px) 
  and (max-device-width: 1439px){
      html {
          font-size: 88%;
      }

      nav {
        width: 70%;
      }

    .hero-intro {
        padding: 0rem 3.5rem;
    }

    .intro {
        padding: 0rem 3.5rem;
        margin-top: 7rem;
    }

    .about-info {
        padding: 0rem 0rem;
    }

    .my-skills {
        margin-top: 9rem;
        padding: 0rem 12rem;
    }

    .projects {
        margin-top: 9rem;
        padding: 0rem 3rem;
        gap: 4rem;
    }

    /*.p1 {
        gap: 2rem;
        padding: 1rem;
    }

    .p-img {
        width: 100%;
        height: 100%;
    }
    
    .p-img img {
        width: 100%;
        height: 100%;
        border-radius: 1rem;
    }

    .p-info {
        width: 100%;
    }
    
    .p-info h4 {
        text-align: center;
        padding-bottom: 0.3rem;
    }*/

    .contact {
        margin-top: 9rem;
        flex-direction: row;
        gap: 7rem;
        justify-content: space-evenly;
    }

    .footer {
        margin-top: 9rem;
    }

  }


/*@media screen 
  and (min-device-width: 1024px) 
  and (max-device-width: 1439px){
    html{
        font-size: 95%;
    }

    body {
        padding: 1rem 2rem;
    }

    .about-info {
        padding: 0rem 0.5rem;
    }

    .skill img {
        width: 3rem;
        height: 3rem;
        border-radius: 1rem;
    }
    
    .projects {
        margin-top: 9rem;
        padding: 0rem 0rem;
        gap: 4rem;
    }

    .p1 {
        flex-direction: row;
        gap: 3rem;
        padding: 1rem;
    }

    .p-img {
        width: 100%;
        height: 100%;
    }

    nav {
        width: 93%;
        padding-top: 1rem;
    }

    .hero-intro {
        padding: 5rem 5rem 0rem 5rem;
    }

    .coffee {
        transform: translateX(-6rem);
    }

    .coffee img {
        margin-left: 0rem;
    }

    .intro {
        margin-top: 9rem;
        padding: 0rem 5rem;
    }

    .my-skills {
        margin-top: 13rem;
        padding: 0rem 17rem;
    }
    
    .my-skills p {
        font-size: 1.8rem;
        font-weight: 700;
    }
    
    .skill img {
        width: 6rem;
        height: 6rem;
        border-radius: 1rem;
    }
    
    .projects {
        margin-top: 18rem;
        display: flex;
        flex-direction: column;
        padding: 0rem 5rem;
        gap: 3rem;
    }
    
    .p1 {
        border: 1px solid rgb(228, 228, 228);
        background-color: rgb(228, 228, 228);
        display: flex;
        flex-direction: row;
        gap: 3rem;
        padding: 1.3rem;
        border-radius: 1.3rem;
    }
    
    .p-img {
        width: 35%;
        height: 14rem;
        border-radius: 1rem;
    }
    
    .p-img img {
        width: 100%;
        height: 100%;
        border-radius: 1rem;
    }
    
    .p-info {
        font-weight: bold;
        width: 60%;
    }
    
    .contact {
        display: flex;
        flex-direction: row;
        gap: 10rem;
        margin-top: 20rem;
    }
    
    .footer {
        margin-top: 15rem;
        border-top: 1px solid gray;
        padding-top: 2rem;
        padding-bottom: 5rem;
        text-align: right;
        font-weight: 700;
    }

    /*

    .about-info {
        padding: 0rem 0.5rem;
    }

    .my-skills {
        margin-top: 13rem;
        padding: 0rem 17rem;
    }

    .skill img {
        width: 3rem;
        height: 3rem;
        border-radius: 1rem;
    }
    
    .projects {
        margin-top: 9rem;
        padding: 0rem 0rem;
        gap: 4rem;
    }

    .p1 {
        flex-direction: row;
        gap: 3rem;
        padding: 1rem;
    }

    .p-img {
        width: 100%;
        height: 100%;
    }
    
    .p-img img {
        width: 100%;
        height: 100%;
        border-radius: 1rem;
    }

    .p-info {
        width: 100%;
    }
    
    .p-info h4 {
        text-align: center;
        padding-bottom: 0.3rem;
    }
    
    .contact {
        margin-top: 11rem;
        flex-direction: row;
        gap: 4rem;
        justify-content: space-evenly;
    }

    .footer {
        margin-top: 9rem;
    }
}*/


/*tablet*/
@media screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1023px){
    html{
        font-size: 78%;
    }

    body {
        padding: 1rem 2rem;
    }

    nav {
        width: 93%;
        padding-top: 0.5rem;
    }

    .hero-intro {
        padding: 5rem 1rem 0rem 1rem;
    }

    .coffee {
        transform: translateX(-6rem);
    }

    .coffee img {
        margin-left: 0rem;
    }

    .intro {
        margin-top: 9rem;
        padding: 0rem 0rem;
    }

    .about-info {
        padding: 0rem 1.5rem;
    }

    .my-skills {
        margin-top: 13rem;
        padding: 0rem 17rem;
    }

    .skill img {
        width: 3rem;
        height: 3rem;
        border-radius: 1rem;
    }
    
    .projects {
        margin-top: 9rem;
        padding: 0rem 0rem;
        gap: 4rem;
    }

    .p1 {
        flex-direction: row;
        gap: 3rem;
        padding: 1rem;
    }

    .p-img {
        width: 100%;
        height: 100%;
    }
    
    .p-img img {
        width: 100%;
        height: 100%;
        border-radius: 1rem;
    }

    .p-info {
        width: 100%;
    }
    
    .p-info h4 {
        text-align: center;
        padding-bottom: 0.3rem;
    }
    
    .contact {
        margin-top: 11rem;
        flex-direction: row;
        gap: 4rem;
        justify-content: space-evenly;
    }

    .footer {
        margin-top: 9rem;
    }
}




/*mobile phone*/
@media screen 
  and (max-device-width: 480px) 
  and (orientation: portrait){
    html{
      font-size: 68%;
    }

    body {
        padding: 1rem 1.2rem;
    }

    nav {
        width: 93%;
        padding-top: 1rem;
        font-size: 1.5rem;
    }

    .hero-intro {
        padding: 4rem 1rem 0rem 1rem;
        text-align: left;
    }

    .coffee {
        transform: translateX(-6rem);
    }

    .coffee img {
        margin-left: 0rem;
    }
    
    .social i {
        font-size: 1.7rem;
        padding-left: 1.5rem;
    }
    
    .social i:hover {
        font-size: 2rem;
    }

    .intro {
        margin-top: 11rem;
        padding: 0rem 0rem;
    }

    .about-info {
        text-align: left;
        padding: 0rem 0.5rem;
        font-weight: normal;
    }

    .my-skills {
        margin-top: 13rem;
        padding: 0rem 10rem;
    }

    .skill img {
        width: 5rem;
        height: 5rem;
        border-radius: 1rem;
    }
    
    .projects {
        margin-top: 13rem;
        padding: 0rem 0.5rem;
        gap: 4.5rem;
    }

    .p1 {
        flex-direction: column;
        gap: 3rem;
        padding: 1rem;
    }

    .p-img {
        width: 100%;
        height: 100%;
    }
    
    .p-img img {
        width: 100%;
        height: 100%;
        border-radius: 1rem;
    }

    .p-info {
        width: 100%;
    }
    
    .p-info h4 {
        text-align: center;
        padding-bottom: 0.3rem;
    }
    
    .contact {
        margin-top: 13rem;
        flex-direction: column;
        gap: 4rem;
        text-align: center;
    }

    .contact-body {
        font-weight: normal;
        line-height: 3.2rem;
    }
    
    .follow-social i {
        font-size: 1.7rem;
    }
    
    .follow-social i:hover {
        font-size: 2rem;
    }

    .footer {
        margin-top: 9rem;
    }

}
